header {
    background-color: #000000;
}
header #logo {
    background-image: url(/institution/img/logo.png);
    background-color: #000000;
}
 
#menu_h a {
    color: #ffffff;
}
#menu_h a:hover {
    border-bottom: 4px solid #26984F;
}
#menu_h a:active {
    border-bottom: 6px solid #26984F;
}
 
#barre_laterale {
    background-color: #26984F;
}