.une_annonce {
    width: 250px;
    float: left;
    margin: 0 15px 15px 0;
    position: relative;
    overflow: hidden;
 
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
 
.img_annonce {
    width: 100%;
    height: 158px;
    line-height: 155px;
    text-align: center;
    background-color: #ECEFF1;
}
.img_annonce img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.infos_annonce {
    padding: 15px 15px 8px 15px;
}
.infos_annonce h2 {
    margin: 0;
    font-weight: 700;
    font-size: 15px;
    color: #26984F;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 18px;
}
.infos_annonce h3 {
    margin: 0;
    font-weight: 300;
    font-size: 13px;
    color: rgba(0,0,0,0.54);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 16px;
}
.infos_annonce .situation_annonce {
    margin: 4px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 15px;
    padding-left: 14px;
    background-repeat: no-repeat;
    background-position: -20px -117px;
    color: #1F1F20;
    min-height: 1.3rem;
}
.infos_annonce .situation_annonce .material-icons {
    vertical-align: middle;
}
.infos_annonce .infos_complementaires {
    margin: 8px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 11px;
    font-weight: 300;
    border-top: 1px dashed #D9DADE;
    padding-top: 8px;
}
.une_annonce .prix {
    padding: 12px 15px 5px 15px;
    border-top: 1px solid #ececec;
    text-align: right;
}
.une_annonce .boutons_actions {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.une_annonce span.fMontant {
    font-size: 15px;
    color: #26984F;
    font-weight: bold;
    font-size: 20px;
    padding-right: 30px;
    background-image: url(/templates/site/themes/defaut/img/euros.png);
    background-repeat: no-repeat;
    height: 30px;
    line-height: 30px;
    background-position: right 2px;
    display: inline-block;
    vertical-align: middle;
    background-size: 26px;
    margin-right: 10px;
}
 
.calque .bloc_calque > h2 {
    background-color: #26984F;
}