<div id="contenu_gauche">

    <!-- Nom de l'utilisateur + bouton de déconnexion -->
    <div id="adherent">
        <div id="btn_menu_responsive" class="bouton_simple picto"></div>
        <p>Administration</p>

        <a href="#" class="btn_action action_authentification_btn_deconnexion" id="btn_deconnexion"></a>
    </div>

    <!-- Début - Menu latéral de gauche -->
    <nav id="menu_gauche" class="bloc_ajax module_menu">

        <div class="un_bloc_menu menu filtre menu_general">
            <a href="#" class="">Mon lien 1</a>
            <a href="#" class="">Mon lien 2</a>
            <a href="#" class="">Mon lien 3</a>
        </div>

    </nav>
    <!-- Fin - Menu latéral de gauche -->

</div>

<!-- Début - Contenu central -->
<div class="contenu_centre">

    <!-- Début - Menu horizontal -->
    <!--div id="bandeau_titre">
        <nav id="menu_haut" class="navigation">
            <a href="#" class="">Mon lien 1</a>
            <a href="#" class="">Mon lien 2</a>
            <a href="#" class="">Mon lien 3</a>
        </nav>
    </div-->
    <!-- Fin - Menu horizontal -->

    <!-- Début - Fil d'Ariane -->
    <div id="ariane">
        <a href="#">Accueil</a> > <h1>Ma page 1</h1>
    </div>
    <!-- Fin - Fil d'Ariane -->

    <!-- Début - Contenu central en mode accueil -->
    <div id="contenu_accueil">

        <div class="clear"></div>
    </div>
    <!-- Fin - Contenu central en mode accueil -->


    <!-- Début - Contenu central en mode filtre/résultats -->
    <div id="contenu_recherche">

        <!-- Début - Zone de filtre -->
        <div id="zone_navigation_2" class="filtres navigation">
            <dl>
                <dt>Catégorie 1</dt>
                <dd>
                    <ul>
                        <li>Sous-catégorie 1</li>
                        <li>Sous-catégorie 2</li>
                        <li>Sous-catégorie 3</li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>Catégorie 2</dt>
                <dd>
                    <ul>
                        <li>Sous-catégorie 1</li>
                        <li>Sous-catégorie 2</li>
                        <li>Sous-catégorie 3</li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>Catégorie 3</dt>
                <dd>
                    <ul>
                        <li>Sous-catégorie 1</li>
                        <li>Sous-catégorie 2</li>
                        <li>Sous-catégorie 3</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <!-- Fin - Zone de filtre -->

        <!-- Début - Zone de résultats -->
        <div id="zone_navigation_3" class="resultats_recherche navigation">

            <!-- Début - Sélection effectuée -->
            <div id="selection">
                <h2>Ma sélection</h2>
                <div id="tags_categories">
                    <div class="un_tag">Catégorie 2<span class="supprimer"></span></div>
                </div>
                <div id="tags_sous_categories">
                    <div class="un_tag">Sous-catégorie 4<span class="supprimer"></span></div>
                    <div class="un_tag">Sous-catégorie 6<span class="supprimer"></span></div>
                </div>
            </div>
            <!-- Fin - Sélection effectuée -->

            <!-- Début - Liste résultats -->
            <div id="liste_resultats">
                <div class="un_produit">
                    <span class="categorie">Catégorie 1 - Sous-catégorie 4</span>
                    <span class="titre">Appartement 6 personnes</span>
                </div>
                <div class="un_produit">
                    <span class="categorie">Catégorie 1 - Sous-catégorie 4</span>
                    <span class="titre">Appartement 6 personnes</span>
                </div>
                <div class="un_produit">
                    <span class="categorie">Catégorie 1 - Sous-catégorie 4</span>
                    <span class="titre">Appartement 6 personnes</span>
                </div>
                <div class="un_produit">
                    <span class="categorie">Catégorie 1 - Sous-catégorie 4</span>
                    <span class="titre">Appartement 6 personnes</span>
                </div>
                <div class="un_produit">
                    <span class="categorie">Catégorie 1 - Sous-catégorie 4</span>
                    <span class="titre">Appartement 6 personnes</span>
                </div>
            </div>
            <!-- Fin - Liste résultats -->

            <div class="clear"></div>
        </div>
    </div>
    <!-- Fin - Contenu central en mode filtre/résultats -->

</div>
<!-- Fin - Contenu central -->

<div class="clear"></div>
