header {
    border-top: 10px solid #000000;
}
 
header #logo {
    background-image: url(/institution/img/logo-blanc.png);
}
 
.fond {
    background-color: #212121;
}
 
.notification, .calque .un_bloc > h2, #bloc_fiche h2, .resultats_recherche #liste_resultats .un_produit:before, #bandeau_titre, #ariane, [type='checkbox']:not(:checked) + label:after, [type='checkbox']:checked + label:after, [type='radio']:not(:checked) + label:after, [type='radio']:checked + label:after {
    background-color: #26984F;
}
 
.bouton_secondaire, .div_pagination ul li a, .tableau_donnees a:hover, .bloc_infos h2, #bloc_fiche h3, .filtres .selected:hover, .filtres .selected:hover + dd ul li.selected, .filtres .selected, .btn_picto_font {
    color: #26984F;
}
 
.div_pagination ul li.active, .bouton, .calque.alerte.info h2, .comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default, .ui-datepicker-header, .ui-priority-primary {
    background-color: #26984F !important;
}
 
.ui-priority-secondary {
    color: #26984F !important;
}
 
.boutons_form {
    border-top: dashed #26984F 1px;
}