<!-- modules/annonce/vues/form_edition.html -->
 
<div class="un_bloc grand_bloc niveau_2">
    <h2>Édition d'une annonce <span class="close"></span></h2>
     
    <div class="contenu_scroll">
        <div class="edition_annonce contenu_calque">
            <form name="formulaire_edition_annonce" id="formulaire_edition_annonce" method="POST" action="#" role="form">
                <input type="hidden" name="szParams" id="szParams_annonce" class="szRegles"/>
 
                <div class="colonne">
 
                    <div class="bloc_form bloc_identite">
                        <h3>Informations générales</h3>
 
                        <div class="un_champ">
                            <label for="szTitre">Titre</label>
                            <input type="text" placeholder="Titre" id="szTitre" name="szTitre" class="szTitre champ"/>
                        </div>
 
                        <div class="un_champ">
                            <label for="nIdCategorie">Catégorie</label>
                            <select name="nIdCategorie" id="nIdCategorie" class="nIdCategorie champ">
                                <option value="" class="clone"></option>
                            </select>
                        </div>
 
                        <div class="un_champ">
                            <label for="fMontant">Montant</label>
                            <input type="text" placeholder="Montant" id="fMontant" name="fMontant" class="fMontant champ"/>
                        </div>
 
                        <div class="un_champ">
                            <label for="sCodePostal">Commune</label>
                            <input type="text" placeholder="Code postal" id="sCodePostal" name="sCodePostal" class="sCodePostal petit champ"/>
                            <input type="text" placeholder="Commune" id="sCommune" name="sCommune" class="sCommune moyen champ"/>
                        </div>
                    </div>
                     
                </div>
 
                <div class="colonne colonne_droite">
                    <h3>Description</h3>
 
                    <div class="contenu_bloc">
                        <div class="un_champ">
                            <textarea name="szDescription" id="szDescription" placeholder="Description" class="szDescription champ"/>
                        </div>
                    </div>
                </div>
 
            </form>
 
        </div>
        <div class="clear"></div>
    </div>
 
    <div class="boutons_form">
        <input type="button" class="bouton btn_enregistre_annonce btn_action action_annonce_btn_enregistre_annonce" value="Enregistrer">
    </div>
</div>