<div>
    <div class="recherche">
 
        <form name="formulaire_recherche" id="formulaire_recherche_annonce" method="POST" action="#">
 
            <div class="moteur_recherche">
 
                <div>
                    <label for="szMotsClesRch">Mots-clés</label>
                    <input type="text" name="szMotsClesRch" id="szMotsClesRch"/>
                </div>
 
            </div>
 
        </form>
 
    </div>
</div>