<!-- /modules/annonce/vues/liste_publique.html -->
 
<div class="liste_annonces">
 
    <p class="cache aucun_element">Aucune annonce ne correspond à la recherche.</p>
 
    <div class="une_annonce clone">
 
        <a href="" class="btn_action action_annonce_btn_dynamisation_consultation">
 
            <div class="img_annonce">
                <img src="/templates/site/themes/defaut/img/img-defaut.jpg" />
            </div>
 
            <div class="infos_annonce">
                <div class="infos_principales">
                    <h2 class="titre">Une annonce</h2>
                    <h3 class="categories">Catégorie 1 / Catégorie 2</h3>
                </div>
                <p class="situation_annonce">
                    <i class="material-icons">room</i><span class="ville_annonce">00000 VILLE</span>
                </p>
                <p class="infos_complementaires">
                    Par <span class="szProposePar">Vendeur</span>, <span class="szDateAjout">le 01/01/0001</span>
                </p>
 
            </div>
 
            <div class="prix">
                <span class="fMontant">15</span>
            </div>
 
        </a>
 
    </div>
 
</div>