<!-- Barre contenant les boutons d'actions -->
<div class="barre_pictos">
    <span title="Ajouter une annonce" id="btn_edition_annonce" class="bouton_simple btn_picto_font btn_modif btn_edition_annonce load_html btn_action action_annonce_btn_form_edition_annonce variable_1_0">
        <i class="material-icons">note_add</i>
    </span>
</div>
 
<!-- Liste des annonces -->
<div class="div_table">
    <div class="scroll_horizontal">
 
        <!-- Attention : le format de l'id est "liste_[module]" -->
        <table id="liste_annonce" class="tableau_donnees route_annonce_json_recherche_annonces variable_1_0 callback_annonce_vGetFiltreHTML">
            <thead>
                <tr>
                    <th id="th_date_ajout" class="tri tri_desc">Date</th>
                    <th id="th_titre" class="tri">Titre</th>
                    <th id="th_categorie" class="tri">Catégorie</th>
                    <th id="th_montant" class="tri">Montant</th>
                </tr>
            </thead>
            <tbody>
                <tr class="clone">
                    <td class="szDateFormatee"></td>
                    <td class="szTitre"></td>
                    <td class="szCategorie"></td>
                    <td class="szMontantFormate"></td>
                    <td class="szActions">
                        <span title="Modifier une annonce" class="bouton_simple btn_picto_font btn_form_edition btn_action action_annonce_btn_form_edition_annonce">
                            <i class="material-icons">mode_edit</i>
                        </span>
                        <span title="Supprimer une annonce" class="bouton_simple btn_picto_font btn_supp">
                            <i class="material-icons">delete</i>
                        </span>
                    </td>
                </tr>
                <tr class="aucun_resultat cache">
                    <td colspan="4">Aucun élément disponible</td>
                </tr>
            </tbody>
        </table>
 
    </div>
</div>
 
<!-- Pagination de la liste -->
<div id="pagination_annonce" class="div_pagination">
    <ul class="pagination">
        <li class="pagination_sup_1"><a href="">&lt;&lt;</a></li>
        <li class="pagination_sup_1"><a href="">&lt;</a></li>
        <li class="pagination_numero"><a href="#">1</a></li>
        <li class="pagination_reste"><a href="">></a></li>
        <li class="pagination_reste"><a href="">>></a></li>
    </ul>
</div>